@using migueloliveiradev.Models.Works.Projetos;
@model List<Project>
@{
    Layout = "_LayoutDashboard";
    ViewData["title"] = "Projetos";
}
<style>
    .technologies {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
    }

        .technologies span {
            margin-left: 3px;
            width: 60px;
            height: 25px;
            line-height: 1.3;
        }

    .card {
        height: 300px !important;
    }

</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; background-color: #000814 !important;">
    <p class="navbar-brand text-light p-0 m-3">Cadastro de Projetos</p>
</nav>
<div class="cards m-3 flex-column ">
    @{
        foreach (Project project in Model)
        {
            <div class="card card-custom position-relative shadow-sm border-0">
                <div class="card-body d-flex flex-row">
                    <div class="flex-grow-1">
                        <h5 class="card-title">@project.Titulo - @project.Comments.Count comentarios</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@project.SubTitulo</h6>
                        <div class="me-10">
                            @project.Descricao
                        </div>
                        <div class="mb-5">
                            @if (!string.IsNullOrEmpty(project.Url))
                            {
                                <a href="@project.Url" class="card-link">Url</a>
                            }
                            @if (!string.IsNullOrEmpty(project.UrlLinkedin))
                            {
                                <a href="@project.UrlLinkedin" class="card-link">Linkedin</a>
                            }
                            @if (!string.IsNullOrEmpty(project.UrlGithub))
                            {
                                <a href="@project.UrlGithub" class="card-link">Github</a>
                            }
                        </div>
                    </div>
                    <div class="position-absolute top-0 end-0 m-3">
                        <div class="d-flex flex-column">
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-primary my-1">Editar</a>
                            <a asp-action="Images" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-primary my-1">Editar Imagens</a>
                            <a asp-action="Tecnologies" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-primary my-1">Editar Tecnologias</a>
                            <a asp-action="Comments" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-primary my-1">Comentarios</a>
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-primary my-1">Excluir</a>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 start-0 m-3">
                        <div class="technologies">
                            @foreach (var item in project.Technologies)
                            {
                                <span class="badge bg-secondary">@item.Nome</span>
                            }
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(project.DateStart.ToString()))
                    {
                        <div class="position-absolute bottom-0 end-0 m-3">
                            <div class="informacoes">@project.DateStart - @project.DateEnd</div>
                        </div>
                    }
                    else
                    {
                        <label class="position-absolute bottom-0 end-0 m-3">Em andamento</label>
                    }
                </div>
            </div>
        }
    }
</div>
<div class="position-absolute top-3 end-0 m-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNewProject">
        Adicionar
    </button>
</div>
<!-- Modal -->
<partial name="Components\AddProject.cshtml" model="null" />
<partial name="Components\EditTechnologies.cshtml" model="null" />