@using migueloliveiradev.Models.Works;

@model List<Technology>
@{
    Layout = "_LayoutDashboard";
    ViewData["title"] = "Tecnologias";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; background-color: #000814 !important;">
    <p class="navbar-brand text-light p-0 m-3">Cadastro de Tecnologias</p>
</nav>
<div class="card p-3 m-3" style="background-color: #FAF3F0  !important;">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Class Icon</th>
                <th scope="col">Projetos</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Technology tech in Model)
            {
                <tr>
                    @if(tech.TypeIcon == TypeIcon.FontAwesome)
                    {
                        <td><i class="w-25 h-25 @tech.Icon fa-2xl"></i></td>
                    }
                    else
                    {
                        <td><img width="40" height="40" src="@tech.IconUrl" /></td>
                    }
                    <td>@tech.Nome</td>
                    <td>@tech.Icon</td>
                    <td>@tech.Projects.Count</td>
                    <td>
                        <button type="button" class="btn">Editar</button>
                        <a class="btn" asp-action="delete" asp-controller="Technology" asp-route-id="@tech.Id">Excluir</a>
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <th colspan="5">Nenhuma skill adicionada.</th>

                </tr>
            }

        </tbody>
    </table>
</div>
<div class="position-absolute end-0 me-4">
    <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar</button>
</div>
<partial name="Components\Add.cshtml" model="null" />