@using migueloliveiradev.ViewsModel;
@model HomeViewModel
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miguel Oliveira - @Model.About?.Title</title>
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <meta name="keywords" content="Miguel Oliveira, desenvolvedor, programador, front-end, back-end, fullstack, developer">
    <meta name="robots" content="index, follow, max-image-preview:large">
    <meta name="description" content="@Model.About?.Description">
    <meta property="og:title" content="Miguel Oliveira - @Model.About?.Title">
    <meta property="og:description" content="@Model.About?.Description">
    <meta property="og:site_name" content="Miguel Oliveira - @Model.About?.Title">
    <meta property="og:image" content="https://miguel-oliveira.dev/img/home-bg.webp">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:image:type" content="image/webp">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://miguel-oliveira.dev/img/home-bg.webp">
    <meta name="author" content="Miguel Oliveira">
    <meta name="copyright" content="© @DateTime.Now.Year Miguel Oliveira">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQJGQL8NYH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JQJGQL8NYH');
    </script>
    <script src="~/js/all.bundle.min.js" asp-append-version="true"></script>
</head>

<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="/img/me.webp" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light">Miguel Oliveira</h1>
                <partial name="/Views/Home/Components/SocialLinks.cshtml" model="@Model.SocialNetworks" />
           </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul class="w-100">
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumo</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" id="main" class="main-home pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/all.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
